
<div id="navbar">
    <div id="options">
        <a href="">HOME</a>
        <a href="">ABOUT US</a>
        <a href="">CONTACT US</a>
        <a href="/users/sign-in">Sign IN</a>
        <a href="">Sign UP</a>
    </div>
</div>