
<div id="navbar">
    <div id="logo">
        <img src="/images/e_logo.jpg" alt="LOGO">
    </div>
    <div id="options">
        <a href="/">HOME</a>
        <a href="/about">ABOUT US</a>
        <a href="">CONTACT US</a>
        <a href="/users/sign-in">Sign IN</a>
        <a href="">Sign UP</a>
    </div>
</div>