#navbar{
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    height: 12vh;
    width: 100vw;
    background-color: orange;
    border-radius: 5px;
    margin-top: 2px;
    box-shadow: 2px 2px 2px 2px orangered;
}
#navbar #logo{
    height: auto;
    width: 15%;
    /* margin-left: 2px; */
    border-radius: 5px;
}
#navbar #logo img{
    height: 12vh;
    width: 100%;
    border-radius: 5px;
}
#navbar #options{
    width: 85%;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

#navbar #options a{
    color: white;
    text-decoration: none;
    outline: none;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    transition: border-bottom 0.3s ;
    margin-left: 35px;
}

#navbar #options a:hover{
    border-bottom: 2px solid black;
}


/* @keyframes underline {
    0%{
        border-bottom: none;
    }
    100%{
        border-bottom: 2px solid black;
    }
} */