.CodeMirror{
    font-size: 1rem;
}
#header{
    height: 40px;
    width: 100%;
    background-color: gray;
    display: flex;
    align-items: center;
  }
  #header #select_language{
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: white;
  }
  #header #select_language select{
    height: 80%;
    border-radius: 5px;
    background-color: burlywood;
  }
  #header #select_language select option{
    color: white;
  }

  #other_option{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-right: 10px;
  }
  #other_option input[type=button]{
    height: 80%;
    width: 60px;
    padding: 5px;
  }

  .form{
    position: static;
  }

#question{
    min-height: 100vh;
    width: 100vw;
    display: flex;
}

#question #question-desc{
    min-height: 100vh;
    width: 40vw;
    display: flex;
    flex-direction: column;

}

#question #question-desc #title{
    display: flex;
    flex-direction: column;
}
#question #question-desc #title h4{
    font-size: 1.4rem;
}
#question #question-desc #title #options{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 10px;
}
#question #question-desc #title #options p{
    color: green;
    font-weight: 800;
    font-size: 1.0 rem;
}
#question #question-desc hr{
    border: 0.5px solid rgb(186, 184, 184);
    width: 100%;
}
#question #question-desc #description p{
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* padding-bottom: 3px; */
}


#question #question-desc #examples .example{
    background-color: lightgray;
    padding: 5px;
}
#question  #gap{
    width: 10px;
    display: block;
    /* border: 2px solid black; */
}

#question #code-box{
    margin-top: 10px;
    width: 58%;
    /* position: fixed; */
    /* display: flex; */
    /* justify-content: flex-end; */
}

